-
  const navItems = [
    { href: '/',        label: 'Ana Səhifə'  },
    { href: '/orders',  label: 'Sifarişlər'   },
    { href: '/products',label: 'Məhsullar'    },
  ];

nav.navbar
  each item in navItems
    a(
      href=item.href
      class=(item.label === activePage ? 'active' : '')
    )= item.label


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' href='/images/favicon.png' type='image/x-icon')
    //— özel stiller
    link(rel='stylesheet' href='/styles/product-details-custom.css')
    title= pageTitle

  body



    section.fz-product-details
      .container
        .row.flex-lg-row.flex-column-reverse.align-items-start.gap-4

          //— Soldaki görsel alanı
          .col-lg-5.col-md-6
            .gallery
              #main-img
                img(src=product.product_images[0] alt=product.product_name)
              #thumbs
                each imgUrl in product.product_images
                  .thumb
                    img(src=imgUrl alt=product.product_name)

          //— Sağdaki metin alanı
          .col-lg-7.col-md-6
            .details
              h1.details__title= product.product_name
              .details__price-rating
                span.details__price= product.product_sales_price + ' azn'
                .details__rating
                  //– örnek 5 yıldız
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-half-alt

              ul.details__info
                li
                  span.property Barkod:
                  span.value= product.product_barcode
                li
                  span.property Kategoriya:
                  span.value= product.product_category
                li
                  span.property Stok:
                  span.value= product.inStock ? 'Var' : 'Yoxdur'

              p.details__description= product.product_description

              .details__actions
                .quantity-control
                  button.minus(type="button") −
                  input(type="number" readonly value="1")
                  button.plus(type="button") +
                button.add-to-cart(type="button") 
                  i.fa.fa-shopping-cart
                  |  Səbətə əlavə et
                button.wishlist(type="button")
                  i.fa.fa-heart

    //— istersen footer vs. ekle
